/* FONTS */
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src:url("../fonts/roboto-v29-latin-regular.woff2") format("woff2"),
         url("../fonts/roboto-v29-latin-regular.woff") format("woff");
    }
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    src:url("../fonts/roboto-v29-latin-500.woff2") format("woff2"), 
         url("../fonts/roboto-v29-latin-500.woff") format("woff"); 
  }
  @font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    src:url("../fonts/roboto-v29-latin-700.woff2") format("woff2"), 
         url("../fonts/roboto-v29-latin-700.woff") format("woff"); 
  }

html {
    height: 100%;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

*:focus {
    outline: 3px dashed #0a775f;
    outline-offset: 3px;
}

.how-work-main-link:focus {
    outline: 3px dashed #fff;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #fff;
    font-family: "Roboto", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #333;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    display: inline-block;
    text-decoration: none;
}

.container {
    width: 100%;
    max-width: 1440px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

.main-content {
    flex-grow: 1;
} 

/* HEADER */
.header {
    background-color: #f3d7b7;
    background-image: url(../img/header-bg.jpg);
}

.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 30px;
}

.logo-link {
    display: flex;
    flex-shrink: 0;
    margin-right: 10px;
}

.logo {
    width: 235px;
    height: 24px;
    transition: 0.4s ease opacity;
}

.logo:hover {
    opacity: 0.8;
}

.logo:active {
    opacity: 0.6;
}

.sitenav-items {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.sitenav-item {
    flex-shrink: 0;
}

.sitenav-item-link {
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #333;
    transition: 0.4s ease color;
}

.sitenav-item-link:hover {
    color: #0a775f;
}

.sitenav-item-link:active {
    opacity: 0.6;
}

.sitenav-item:not(:last-child) {
    margin-right: 40px;
}

.header-bottom {
    width: 1420px;
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
}

.header-bottom-box {
    width: 464px;
    padding-top: 116px;
}

.header-bottom-box-heading {
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    color: #000000;
    margin: 0;
    margin-bottom: 24px;
}

.header-bottom-box-text {
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    margin: 0;
    margin-bottom: 34px;
}

.main-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-variant: small-caps;
    color: #FFFFFF;
    padding: 16px 24px;
    background-color: #0a775f;
    border-radius: 100px;
    transition: background-color 0.4s ease;
}

.main-link:hover {
    background-color: rgba(10, 119, 95, 0.8);
}

.main-link:active {
    background-color: rgba(10, 119, 95, 0.6);
}

.header-bottom-img {
    width: 710px;
    height: 696px;
}

/* COLLECTION */
.collection {
    background-color: #f8f8f2;
    background-image: url(../img/collection-bg.jpg);
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.collection-heading {
    font-weight: 700;
    font-size: 50px;
    line-height: 59px;
    text-align: center;
    color: #000000;
    margin: 0;
    text-transform: uppercase;
}

.collection-boxes {
    width: 100%;
    max-width: 1114px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: 80px;
}

.collection-box {
    display: flex;
    align-items: center;
}

.collection-box-content-right {
    margin-left: 117px;
    margin-right: 157px;
}

.collection-box-content-left {
    margin-right: 117px;
    margin-left: 157px;
}

.collection-box-content-one {
    margin-right: 94px;
}

.collection-box-content-four {
    margin-right: 97px;
}

.collection-box-heading {
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 10px;
}

.collection-box-text {
    font-size: 22px;
    line-height: 34px;
    margin: 0;
}

/* CHOOSE */
.choose {
    background-image: url(../img/choose-bg.jpg);
    background-repeat: no-repeat;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 80px;
}

.choose-content {
    width: 581px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    color: #fff;
}

.choose-content-heading {
    font-weight: 700;
    font-size: 50px;
    line-height: 59px;
    margin: 0;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.choose-content-text {
    font-size: 16px;
    opacity: 0.8;
    margin: 0;
    margin-bottom: 80px;
}

.choose-boxes {
    display: flex;
    margin-left: -20px;
}

.choose-box {
    width: 433px;
    margin-left: 20px;
}

.choose-box-img {
    width: 433px;
    height: 500px;
    margin-bottom: 28px;
}

.choose-box-heading {
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    color: #333;
    margin: 0;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.choose-box-text {
    width: 377px;
    color: #333;
    margin: 0;
}

.choose-box-text-three {
    width: 334px;
}

/* HOW-WORK */
.how-work {
    background-color: #0a775f;
    background-image: url(../img/how-work.jpg);
    background-repeat: no-repeat;
    padding: 50px 30px;
    margin-bottom: 50px;
}

.how-work-heading {
    text-align: center;
    color: #fff;
    margin-bottom: 80px;
}
.how-work-boxes {
    display: flex;
    list-style: none;
    margin: 0;
    margin-left: -20px;
    margin-bottom: 60px;
    padding: 0;
    counter-reset: how-work;
}

.how-work-box {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    counter-increment: how-work;
}

.how-work-box::before {
    width: 60px;
    height: 60px;
    background-color: #f8f8f2;
    border: 4px solid #c99b67;
    content: "";
    margin-bottom: 20px;
}


.how-work-box-content {
    display: flex;
    flex-direction: column;
    width: 433px;
    padding: 20px 20px 40px;
    background-color: #f8f8f2;
}

.how-work-box-content::before {
    content: "0" counter(how-work);
    align-self: end;
    font-size: 64px;
    line-height: 75px;
    margin-bottom: 45px;
}

.how-work-box-content-heading {
    width: 250px;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    margin: 0;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.how-work-box-content-text {
    margin: 0;
}

.how-work-link {
    display: flex;
    justify-content: center;
}

.how-work-main-link {
    background-color: #c99b67;
}

.how-work-main-link:hover {
    background-color: #0a1100;
}

.how-work-main-link:active {
    opacity: 0.6;
}

/* FOOTER */
.site-footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 65px;
    padding-bottom: 65px;
}

.site-footer-items {
    margin-right: auto;
    margin-left: auto;
}

.sitenav-item-footer-link {
    font-size: 16px;
    line-height: 19px;
}

.footer-list {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: 10px;
}

.footer-link:not(:last-child) {
    margin-right: 30px;
}

.footer-link svg {
    color: #333;
}

.footer-link svg:hover {
    color: #0a775f;
}

.footer-link {
    display: flex;
}

.link-logo {
    display: block;
}

/* ABOUT */
.about-header-bottom-box {
    width: 372px;
}

.about-header-bottom-img {
    height: 596px;
}

/* COLLECTION */
.about-collection-boxes {
    width: 100%;
    max-width: 1171px;
    margin-left: 165px;
    margin-right: 64px;
}

.about-collection {
    margin-bottom: 80px;
    padding: 0;
}

.about-collection-box {
    align-items: flex-start;
    padding-top: 160px;
    padding-bottom: 200px;
}

.about-collection-box-img {
    width: 360px;
    height: 364px;
}

.about-collection-box-heading {
    margin-bottom: 24px;
    font-weight: 700;
    color: #000;
}

.about-collection-box-content {
    width: 626px;
    margin-left: 185px;
    margin-right: 0;
}

/* CHOOSE */
.about-choose {
    padding: 0;
}

.choose-main {
    display: flex;
    justify-content: space-between;
    max-width: 1227px;
    margin-left: 143px;
    margin-right: 30px;
    display: flex;
    padding-top: 100px;
    padding-bottom: 90px;
}

.about-choose-content {
    width: 639px;
    text-align: left;
    padding: 0;
    margin: 0;
}

.about-choose-content-heading {
    margin-bottom: 24px;
}

.about-choose-content-text {
    margin: 0;
    font-size: 18px;
    line-height: 30px;
}

.about-choose-box-img {
    width: 550px;
}

/* HOW-WORK */
.about-how-work {
    padding-bottom: 100px;
}

.about-how-work-boxes {
    margin-bottom: 0;
}

.about-how-work-box::before {
    display: none;
}

.about-how-work-box-content {
    flex-direction: unset;
    vertical-align: top;
    padding: 40px 55px 40px 20px;
}

.about-how-work-box-content::before {
    display: none;
}

.about-how-work-box-content-text {
    width: 178px;
    margin-top: 187px;
    margin-right: 60px;
}

.about-how-work-box-content-text-uk {
    margin-top: 140px;
    margin-right: 60px;
}

.about-how-work-box-content-heading {
    width: 0;
}

.uk-img {
    width: 120px;
    height: 143px;
}

.canada-img {
    width: 120px;
    height: 120px;
}

.australia-img {
    width: 120px; 
    height: 107px;
}


@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) { 
    .header {
        background-image: url("../img/header-bg@2x.jpg");
    }
    .collection {
        background-image: url("../img/collection-bg@2x.jpg");
    }
    .choose {
        background-image: url("../img/choose-bg@2x.jpg");
    }
    .how-work {
        background-image: url("../img/how-work@2x.jpg");
    }

}
